.hero {
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 100%;
  background-color: #131925;
  // display: block;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: relative;
  // object-fit: cover;

  &__viking {
    background: url("../../images/main/viking.png");
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 720px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    // object-fit: cover;
  }

  &__heading {
    margin: 232px auto 0;
    font-family: "Goudy";
    font-size: 32px;
    line-height: 44px;
    max-width: 563px;
  }

  &__price {
    margin-top: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 20px;

    &--new {
      text-decoration: none;
    }

    &--old {
      text-decoration: line-through;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__button {
    margin-top: 33px;
    padding: 14px 22px;
    width: 163px;
    // height: 48px;
    background-color: #cc0000;
    border: 1px solid #950000;
    margin: auto;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      color: #cc0000;
      background-color: #fff;
    }
  }
}

.isActive {
  background: #131925;
}