@font-face {
  font-family: "MulishRegular";
  src: url("./fonts/Mulish/static/MulishRegular.ttf");
}

@font-face {
  font-family: "MulishBold";
  src: url("./fonts/Mulish/static/MulishBold.ttf");
}

@font-face {
  font-family: "GoudyRegular";
  src: url("./fonts/GoudyBookletter1911/GoudyBookletter1911Regular.ttf");
}
