// colors
$text-color: #202020;

// $text-color: #454646;
// $white-color: #fff;
// $black-color: #000;
// $main-background-color: #00b5d2;
// $analog-background-color: #367ab7;

// $button-blue: #048da4;
// $button-light: #e1aa6e;
// $button-darker: #bb8e5b;
// $email-color: #f3a95b;
// $footer-background-color: #f3eded;
// $footer-border-color: #9d9e9e;
// $info-text-color: #96999c;

// devices
$analog-screen-breakpoint: 1000px;
$ipad-screen-breakpoint: 768px;
$iphone-screen-breakpoint: 320px;
