.nav {
  display: flex;
  text-align: center;
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    display: block;
    position: relative;
    margin: 0 16px;
    color: #202020;
    cursor: pointer;

    &--sale {
      color: #cc0000;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}