.nav {
  
  &__list {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    display: block;
    position: relative;
    margin: 0 16px;
    color: #202020;
    cursor: pointer;

    &--sale {
      color: #cc0000;
      text-transform: uppercase;
    }
  }
}

.isActive {
  display: flex;
  position: absolute;
  color: #fff;
  background: gold;
}

// .header__nav--isActive {
//   display: flex;
// }

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }
}